.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

.toc {
  max-height: 100vh;
  display: flex;
  overflow: auto;
}

.carouselItem {
  background-color: black;
}

.carouselImage,
.modalImage {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  object-fit: contain;
}

.calendar {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  display: inline-block;
}

.schedule {
  width: auto;
}

.daySchedule,
.calendarContent,
.calendarBody,
.calendarTitle {
  width: fit-content;
  max-width: 100%;
  max-height: 100vh;
}

.calendarTable {
  table-layout: fixed;
  border-collapse: collapse;
  max-height: fit-content;
}

.calendarDay {
  padding: 0 !important;
  background-color: transparent;
  border-color: transparent;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.card {
  --bs-card-border-radius: 0;
}

.backgound-color-transparent {
  background-color: transparent;
}

.border-color-transparent {
  border-color: transparent;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.justify-item-center {
  display: flex;
  justify-items: center;
}

.position-relative {
  position: relative;
  width: fit-content;
}

.overflow-hidden {
  overflow: hidden;
}

.padding-0 {
  padding: 0px;
}

.text-wrap-nowrap {
  text-wrap: nowrap;
}

.overflow-clip {
  overflow: clip;
}

.width-fit {
  width: fit-content;
  max-width: 100%;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.align-items-stretch {
  align-items: stretch;
}

#schedule {
  height: fit-content;
  max-height: 100vh;
  overflow-y: scroll;
  width: fit-content;
  max-width: 100%;
  margin-right: 8px;
}

.max-width-33 {
  max-width: 33vw;
}

#scheduleListItem {
  padding: 0px 4px 0 4px;
  width: fit-content;
  max-width: 100%;
  max-height: 100vh;
  height: fit-content;
  flex-wrap: nowrap;
  margin: 0 !important;
}

.padding-r-0 {
  padding-right: 0;
}

.pointsForTask {
  width: 100% !important;
  text-align: end;
  justify-self: stretch;
}
