.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

.carouselItem,
.modalBody {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toc {
  max-height: 100vh;
  display: flex;
  overflow: auto;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.carouselItem {
  background-color: black;
}

.carouselImage,
.modalImage {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  object-fit: contain;
}

.calendarMonth {
  display: inline;
}

.position-relative {
  position: relative;
  width: fit-content;
}

.overflow-hidden {
  overflow: hidden;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.padding-0 {
  padding: 0px;
}

.text-wrap-nowrap {
  text-wrap: nowrap;
}
